#lx-aside {
  width: 20%;
}

#lx-main-content {
  margin-left: 23%;
}

p {
  font-size: 16px;
}

.social-links i {
  background: none;
}

.lx-navigation .lx-cover .copy .display-t,
.lx-navigation .lx-cover .copy .display-tc {
  height: 100px;
}

h2,
h3,
h4 {
  font-weight: bold;
}

.single .lx-post .lx-entry div h2 {
  font-weight: bold;
}

.hamburger {
  left: 20px;
}

.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(-4px, 0, 0) rotate(-45deg) scale(.7, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(-4px, 0, 0) rotate(45deg) scale(.7, 1);
}

#lx-aside .featured h1 {

  font-weight: 600;
}

#lx-aside .featured>span {
  font-family: monospace;
  font-size: 16px;
}
